@use "../global" as *;

/* layout .l-container
   ----------------------------------------------------------------- */

.l-container {
  width: 90%;
  max-width: 1080px;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
  }
}
