@use "../global" as *;

/* layout .l-sidebar
   ----------------------------------------------------------------- */

.l-sidebar {
  width: 100%;
  max-width: 180px;

  @include mq(md) {
    max-width: 190px;
  }
}
